<!DOCTYPE html>
<html>
<head>
    <title>Clientes</title>
</head>
<body>
    <h2>Clientes</h2>

    <a href="/cliente_novo">Novo Cliente</a>

    <table border="1" cellpadding="5">
        <tr>
            <th>ID</th><th>Nome</th><th>Endereço</th><th>Telefone</th><th>Ações</th>
        </tr>

        {% for c in lista %}
        <tr>
            <td>{{ c.idcliente }}</td>
            <td>{{ c.nome }}</td>
            <td>{{ c.endereco }}</td>
            <td>{{ c.telefone }}</td>
            <td>
                <a href="/cliente_del/{{ c.idcliente }}">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
