{% extends "base.html" %}
{% block conteudo %}

<h2>Cliente</h2>

<form method="post" class="card p-4 shadow-sm">

    {% if cliente %}
        <h4>Editar Cliente</h4>
    {% else %}
        <h4>Novo Cliente</h4>
    {% endif %}

    <div class="mb-3">
        <label>Nome</label>
        <input type="text" name="nome" class="form-control"
               value="{{ cliente.nome if cliente else '' }}" required>
    </div>

    <div class="mb-3">
        <label>Endereço</label>
        <input type="text" name="endereco" class="form-control"
               value="{{ cliente.endereco if cliente else '' }}" required>
    </div>

    <div class="mb-3">
        <label>Telefone</label>
        <input type="text" name="telefone" class="form-control"
               value="{{ cliente.telefone if cliente else '' }}" required>
    </div>

    <button class="btn btn-success">Salvar</button>
    <a href="/clientes" class="btn btn-secondary">Voltar</a>
</form>


{% endblock %}
