{% extends "base.html" %}
{% block conteudo %}

<h2>Clientes</h2>

<a href="/cliente_novo" class="btn btn-primary mb-3">Novo Cliente</a>

<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Telefone</th>
            <th>Ações</th>
        </tr>
    </thead>

    <tbody>
    {% for c in lista %}
        <tr>
            <td>{{ c.idcliente }}</td>
            <td>{{ c.nome }}</td>
            <td>{{ c.endereco }}</td>
            <td>{{ c.telefone }}</td>
            <td>
                <a href="/cliente_del/{{ c.idcliente }}" class="btn btn-danger btn-sm">Excluir</a>
                <a href="/cliente_editar/{{ c.idcliente }}" class="btn btn-warning btn-sm">Editar</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
