{% extends "base.html" %}
{% block conteudo %}

<h2>{% if os %}Editar Ordem de Serviço{% else %}Nova Ordem de Serviço{% endif %}</h2>

<form method="post" class="card p-4 shadow-sm">

    <div class="mb-3">
        <label>Veículo</label>
        <select name="idveiculo" class="form-select" required>
            {% for v in veiculos %}
                <option value="{{ v.idveiculo }}"
                    {% if os and os.idveiculo == v.idveiculo %}selected{% endif %}>
                    {{ v.marca }} {{ v.modelo }}
                </option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label>Prazo</label>
        <input type="date" name="prazo" class="form-control"
               value="{{ os.prazo if os else '' }}" required>
    </div>

    <div class="mb-3">
        <label>Defeito</label>
        <input type="text" name="defeito" class="form-control"
               value="{{ os.defeito if os else '' }}" required>
    </div>

    <div class="mb-3">
        <label>Valor Total</label>
        <input type="number" name="valortotal" class="form-control"
               value="{{ os.valortotal if os else '' }}" required>
    </div>

    <button class="btn btn-success">Salvar</button>
    <a href="/os" class="btn btn-secondary">Voltar</a>
</form>

{% endblock %}
