{% extends "base.html" %}
{% block conteudo %}

<h2>Ordens de Serviço</h2>

<a href="/os_nova" class="btn btn-primary mb-3">Nova OS</a>

<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>ID Veículo</th>
            <th>Prazo</th>
            <th>Defeito</th>
            <th>Valor</th>
            <th>Ações</th>
        </tr>
    </thead>

    <tbody>
    {% for o in lista %}
        <tr>
            <td>{{ o.idordemservico }}</td>
            <td>{{ o.idveiculo }}</td>
            <td>{{ o.prazo }}</td>
            <td>{{ o.defeito }}</td>
            <td>{{ o.valortotal }}</td>
            <td>
                <a href="/os_del/{{ o.idordemservico }}" class="btn btn-danger btn-sm">Excluir</a>
                <a href="/os_editar/{{ o.idordemservico }}" class="btn btn-warning btn-sm">Editar</a>

            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
