<!DOCTYPE html>
<html>
<head>
    <title>Novo Veículo</title>
</head>
<body>
    <h2>Novo Veículo</h2>

    <form method="post">
        <label>ID:</label>
        <input type="number" name="idveiculo" ><br><br>

        <label>Cliente:</label>
        <select name="idcliente" required>
            {% for c in clientes %}
              <option value="{{ c.idcliente }}">{{ c.nome }}</option>
            {% endfor %}
          </select>
          <br><br>

        <label>Marca:</label>
        <input type="text" name="marca" required><br><br>

        <label>Modelo:</label>
        <input type="text" name="modelo" required><br><br>

        <label>Ano:</label>
        <input type="number" name="ano" required min="1900" max="2100"><br><br>

        <button type="submit">Salvar</button>
    </form>

    <br>
    <a href="/veiculos">Voltar</a>
</body>
</html>
