{% extends "base.html" %}
{% block conteudo %}

<h2>Veículos</h2>

<a href="/veiculo_novo" class="btn btn-primary mb-3">Novo Veículo</a>

<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>ID Cliente</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Ano</th>
            <th>Ações</th>
        </tr>
    </thead>

    <tbody>
    {% for v in lista %}
        <tr>
            <td>{{ v.idveiculo }}</td>
            <td>{{ v.idcliente }}</td>
            <td>{{ v.marca }}</td>
            <td>{{ v.modelo }}</td>
            <td>{{ v.ano }}</td>
            <td>
                <a href="/veiculo_del/{{ v.idveiculo }}" class="btn btn-danger btn-sm">Excluir</a>
                <a href="/veiculo_editar/{{ v.idveiculo }}" class="btn btn-warning btn-sm">Editar</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
