{% extends "base.html" %}
{% block conteudo %}

<h2>{% if veiculo %}Editar Veículo{% else %}Novo Veículo{% endif %}</h2>

<form method="post" class="card p-4 shadow-sm">

    <div class="mb-3">
        <label>Cliente</label>
        <select name="idcliente" class="form-select" required>
            {% for c in clientes %}
                <option value="{{ c.idcliente }}"
                    {% if veiculo and veiculo.idcliente == c.idcliente %}selected{% endif %}>
                    {{ c.nome }}
                </option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label>Marca</label>
        <input type="text" name="marca" class="form-control"
               value="{{ veiculo.marca if veiculo else '' }}" required>
    </div>

    <div class="mb-3">
        <label>Modelo</label>
        <input type="text" name="modelo" class="form-control"
               value="{{ veiculo.modelo if veiculo else '' }}" required>
    </div>

    <div class="mb-3">
        <label>Ano</label>
        <input type="number" name="ano" class="form-control"
               value="{{ veiculo.ano if veiculo else '' }}" required>
    </div>

    <button class="btn btn-success">Salvar</button>
    <a href="/veiculos" class="btn btn-secondary">Voltar</a>
</form>

{% endblock %}
